logs
data
node_modules
.env
.vscode
build
docs
.env.*
*.env.*
!.env.sample
*/logs
local
tarballs
mochawesome-report/**/*.*
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
.scannerwork
sonar-project.properties
